/* General Styling */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Input and Button Styling */
input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50; /* Green color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Error Message Styling */
#errorMessage {
    color: red;
    margin-top: 10px;
}

/* Weather Info Styling */
#weatherInfo {
    margin-top: 20px;
}

h1 {
    color: #333;
}

p {
    margin: 8px 0;
}

/* Map Iframe Styling */
#mapIframe {
    width: 100%;
    height: 300px;
}

/* Forecast Container Styling */
#forecastContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.forecastDay {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 5px;
}

    /* Additional Styling for Forecast Details */
    .forecastDay p {
        margin: 5px 0;
    }

/* Responsive Design */
@media (max-width: 768px) {
    input[type="text"] {
        width: 100%;
        margin-right: 0;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    .forecastDay {
        flex-basis: calc(50% - 20px);
    }
}
